nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 1em 1em;
}

nav a:hover {
    text-decoration: underline;
}