h1 {
    font-size: 1.5em;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.4em 0.2em;
    width: 75%;
    transition: width 1s;
}

nav a:hover {
    text-decoration: underline;
    width: 100%;
    background-color: whitesmoke;
    color: black;
}