@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: auto 2fr auto;
    grid-template-columns: 2.5fr 7.5fr;
    grid-template-areas: "header main" "aside main" "footer footer";
}

header {
    grid-area: header;
    background-color: #7a7a7a;
    color: white;
    padding: 0.5em 2em;
}

aside {
    grid-area: aside;
    background-color: #7a7a7a;
    color: white;
    padding: 0.5em 2em;
}

main {
    display: flex;
    flex-wrap: wrap;
    grid-area: main;
    background-color: #999;
    color: white;
    padding: 0.5em 2em;
}

footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: "header" "aside" "main" "footer";
    }
}